-let pageTitle = 'Pug x PostCSS Here'

doctype
html
    head
        title #{pageTitle}
        link(href="temp/assets/styles/main.styles.css" rel="stylesheet")
        link(href=" <link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700' rel='stylesheet' type='text/css'>" rel="stylesheet")
    body
        block header
        block page-section