block page-section
	#products.page-section
		.wrapper
			.products
				.products__title Products
				.products__subtitle Select Your Favourite Template
				.products__list
					.products__item
					.products__item
					.products__item
					.products__item